<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.kfdms.mapper.FileShareMapper">
    <!-- 还可开启驼峰命名，但是担心兼容性问题-->
    <resultMap id="shareLogResultMap" type="com.mp.kfdms.domain.FileShareShareLog">
        <result column="sharelog_id" property="shareLogId"/>
        <result column="user_id" property="userId"/>
        <result column="file_id" property="fileId"/>
        <result column="folder_id" property="folderId"/>
        <result column="file_name" property="fileName"/>
        <result column="access_code" property="accessCode"/>
        <result column="share_link" property="shareLink"/>
        <result column="visit_num" property="visitNum"/>
        <result column="visit_limit" property="visitLimit"/>
        <result column="valid_period" property="validPeriod"/>
        <result column="create_time" property="createTime"/>
        <result column="expired_time" property="expiredTime"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="status" property="status"/>
        <result column="version" property="version"/>
    </resultMap>
    <insert id="addShareLog" parameterType="com.mp.kfdms.domain.FileShareShareLog" useGeneratedKeys="true" keyProperty="shareLogId" keyColumn="sharelog_id">
        insert into fileshare_sharelog(user_id, file_id, folder_id,file_name, access_code,share_link, visit_num, visit_limit,
        valid_period, create_time, expired_time, delete_time,status) values (
        #{userId},#{fileId},#{folderId},#{fileName},#{accessCode},#{shareLink},#{visitNum},#{visitLimit},
        #{validPeriod},#{createTime},#{expiredTime},#{deleteTime},#{status}
        )
    </insert>
    <select id="getShareLogById" parameterType="java.lang.Integer" resultMap="shareLogResultMap">
        select * from fileshare_sharelog where sharelog_id = #{logId}
    </select>
    <update id="updateShareLog" parameterType="com.mp.kfdms.domain.FileShareShareLog">
        update fileshare_sharelog set share_link=#{shareLink}, visit_num = #{visitNum},delete_time = #{deleteTime}, status = #{status}, version = version +1
        where sharelog_id = #{shareLogId} and version = #{version}
    </update>

    <select id="getShareLogByUserId" parameterType="java.lang.Integer" resultMap="shareLogResultMap">
        select * from fileshare_sharelog where user_id = #{userId} and (status = 1 or status = 2)
    </select>
</mapper>