<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.kfdms.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.mp.kfdms.domain.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="emial" jdbcType="VARCHAR" property="email" />
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_type" jdbcType="INTEGER" property="user_type" />
        <result column="verification_id" jdbcType="INTEGER" property="verification_id" />
        <result column="active_status" jdbcType="INTEGER" property="active_status" />
        <result column="login_forbidden" jdbcType="INTEGER" property="login_forbidden" />
        <result column="base_folder_id" jdbcType="VARCHAR" property="base_folder_id"/>
        <result column="image_path" jdbcType="VARCHAR" property="image_path"/>
        <result column="register_time" jdbcType="TIME" property="tegister_time"/>
        <result column="last_login" jdbcType="TIME" property="last_login"/>
    </resultMap>
    <select id="findOneByUsername" resultType="com.mp.kfdms.domain.User" parameterType="com.mp.kfdms.domain.User">
        select * from user where username=#{username} limit 1;
    </select>
    <select id="findOneByEmail" resultType="com.mp.kfdms.domain.User" parameterType="com.mp.kfdms.domain.User">
        select * from user where email=#{email} limit 1;
    </select>
    <select id="findOneByTelephone" resultType="com.mp.kfdms.domain.User" parameterType="com.mp.kfdms.domain.User">
        select * from user where telephone=#{telephone} limit 1;
    </select>
    <update id="changePassword" parameterType="com.mp.kfdms.domain.User">
        update user set password=#{password} where email=#{email};
    </update>
    <update id="changeTelephone" parameterType="com.mp.kfdms.domain.User">
        update user set telephone=#{telephone} where email=#{email};
    </update>
    <update id="login" parameterType="com.mp.kfdms.domain.User">
        update user set last_login=now() where email=#{email} and password=#{password};
    </update>
    <delete id="deleteUser" parameterType="com.mp.kfdms.domain.User">
        delete from user where email=#{email};
    </delete>
    <insert id="registerUser" parameterType="com.mp.kfdms.domain.User">
        insert into user(email,username,password,verification) values (#{email},#{username},#{password},#{verification});
    </insert>
    <update id="activateUser" parameterType="com.mp.kfdms.domain.User">
        update user set active_status=1 where email=#{email};
    </update>
    <update id="changeImagePath" parameterType="com.mp.kfdms.domain.User">
        update user set image_path=#{image_path} where email=#{email};
    </update>
    <update id="changeUserName" parameterType="com.mp.kfdms.domain.User">
        update user set username=#{username} where email=#{email};
    </update>
    <update id="setLoginForbidden" parameterType="java.lang.Integer">
        update user set login_forbidden=(1-login_forbidden) where id=#{id};
    </update>
    <update id="setBaseFolderId" parameterType="com.mp.kfdms.domain.User">
        update user set base_folder_id=#{base_folder_id} where email=#{email};
    </update>
    <update id="updateUser" parameterType="com.mp.kfdms.domain.User">
        update user set telephone=#{telephone},username=#{username},user_type=#{user_type},
        sex=#{sex},student_id=#{student_id},birthday=#{birthday},start_year=#{start_year},base_folder_id = #{base_folder_id} where email=#{email}
    </update>
    <select id="findOneById" parameterType="java.lang.Integer" resultType="com.mp.kfdms.domain.User">
        select * from user where id=#{id};
    </select>
    <select id="findAll" resultType="com.mp.kfdms.domain.User">
        select * from user;
    </select>

</mapper>