<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.kfdms.mapper.VerificationLogMapper">
    <resultMap id="baseResultMap" type="com.mp.kfdms.domain.VerificationLog">
        <result column="verification_id" property="verificationId"/>
        <result column="verification_owner" property="verificationOwner"/>
        <result column="verification_code" property="verificationCode"/>
        <result column="create_time" property="createTime"/>
        <result column="is_used" property="isUsed"/>
        <result column="drop_time" property="dropTime"/>
        <result column="used_user_email" property="usedUserEmail"/>
    </resultMap>
    <insert id="addLog" parameterType="com.mp.kfdms.domain.VerificationLog">
        insert into verification_log(verification_owner,verification_code,used_user_email,is_used)values (
        #{verificationOwner},#{verificationCode},#{usedUserEmail},#{isUsed}
        )
    </insert>
    <update id="updateLog" parameterType="com.mp.kfdms.domain.VerificationLog">
        update verification_log set is_used=#{isUsed},drop_time=#{dropTime}
        where verification_id = #{verificationId}
    </update>
    <select id="findOne" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select * from verification_log where verification_owner = #{verificationOwner} and is_used=1
    </select>
    <select id="findAll" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select * from verification_log where verification_owner = #{verificationOwner}
    </select>
    <select id="findOneByVerification" parameterType="java.lang.String" resultMap="baseResultMap">
        select * from verification_log where verification_code = #{verificationCode};
    </select>
</mapper>